@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
Pantallas grandes (lo que llaman LG) a partir de 1200 pixels Pantlallas medias (serán las MD) a partir de 992 pixels Pantallas tipo tablet (las SM) a partir de 768 pixels 
Pantallas móviles (o pantallas XS), por debajo de esa cifra.
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #161623;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: cadetblue;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.card {
    
    background: red;
}